.toast-success{
    background: linear-gradient(to right, #00b09b, #8dbd39)!important;
}

.toast-error{
    background: linear-gradient(to right, #c50326, #de6e62)!important;
}

.toast-info{
    background: linear-gradient(to right, #4e73df, #629cde)!important;
}

.toast-warning{
    background: linear-gradient(to right, #dc9d27, #ccbe72)!important;
}
